h1 {
    display: inline;
    margin: 15px;
}
/*a.book {
    margin-left: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color:green;
}
a.book:hover{
    color:rgb(109, 174, 240);
}
*/
body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(rgb(110, 110, 241), rgb(42, 167, 42));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    */
}
a.first{
    margin-left: 50%;
}
a{
    margin-left: 2%;
    font-size:150%;
    font-family:Alegreya Sans SC;
    text-decoration: none;
    color: rgb(42, 167, 42);
}
a:hover{
    color:rgb(109, 174, 240);
}
a.home {
    margin-left: 2%;
    font-size:200%;
    font-family:Alegreya Sans SC;
    text-decoration: none;
    color: rgb(42, 167, 42);
}
a.home:hover{
    color:rgb(109, 174, 240);
}
.contact{
    font-size:150%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(42, 167, 42);
}
.container{
    position: relative;
}
.field{
    margin-top: 1.4%;
    object-fit: cover;
    width: 100%;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
    background-image: url(images/grass-field-copy.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
.mid{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.container:hover .trainBW{
    opacity: 0.2;
}

.container:hover .mid{
    opacity: 1;
}
.row{
    height: 200px;
}
.row2{
    height: 300px;
}
.block{
    float: left;
    width: 30%;
    padding: 1.5%;
}
.block2{
    float: left;
    width: 46%;
    padding: 2%;
}
.qualities{
    text-align: center;
    font-size:200%;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(109, 174, 240);
}
.kid-playing{
    /*width: 100%;*/
    height: 190px;
    background-image: url(images/trifinal.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
.kids-playing{
    /*width: 100%;*/
    height: 300px;
    background-image: url(images/soccer-boys.jpg);
    background-attachment:fixed;
    background-size: 100%;
}
p{
    text-align: center;
    font-size:150%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(42, 167, 42);
}
.bump {
    margin-top: 4%;
    width: 60%;
    margin-left: 20%;
}
h2.greeting{
    margin-top: 5%;
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(109, 174, 240);
}
.willsbio{
    margin-right: 20%;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}